<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenMcdf" version="2.2.1.6" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net472" />
</packages>